<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolzApp</title>
</head>
<body>

    <main>

        <div id="app">

            <div class="left-side">
    
                <div class="profile-nav">

                    <div class="profile-name">

                        <img class='profile-picture' src="img/avatar_4.jpg" alt="">
                        <p>Luisa</p>
    
                    </div>

                    <div class="profile-nav-buttons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
    
                <div class="banner-notifications">

                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div class="bell-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <span>Attiva notifiche desktop</span>
                    </div>
    
                </div>
    
                <div class="search-container">

                    <div class="search-box">

                        <i class="fas fa-search"></i>

                        <input placeholder="Cerca o inizia una nuova chat" type="text">

                    </div>
                    
                </div>
                    <!-- chat list div for scrolling  -->
                <div class="chat-list-box">
                        <!-- box that scroll with all the chats -->
                    <div class="chat-list">
                            <!-- every chat printed with v-for -->
                        <div v-for="(item, index) in users" class="chat-list-item">
                            <div class="chat-item-id">
                                <div class="chat-id-photo">
                                    <img class='profile-picture' :src="item.profile_pic" alt="">
                                </div>
                                <div class="chat-id-name-text">
                                    <p>{{item.name}}</p>
                                    <span>{{item.chat[item.chat.length-1].message}}</span>
                                </div>
                            </div>
                            <div class="chat-time">
                                <span>{{item.chat[item.chat.length-1].time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="right-side">
                
                <div class="chat-id-right">

                    <div v-for='(item, index) in users' v-if='item.selected' class="id-name-login">

                        <div class="profile-pic">
                            <img class='profile-picture' :src='item.profile_pic' alt="">
                        </div>
                        
                        <div class="name-lastlogin">
                            <p>{{item.name}}</p>
                            <span>Ultimo accesso {{item.lastlogin}}</span>
                        </div>

                    </div>

                    <div class="chat-buttons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
    
                <div class="chat">
                    
                    <div class="sub-chat">

                        <div v-if='users.selected' v-for='(item, index) in users.chat' :class="item.sender ? 'message-sent' : 'message-received'">
                            <p class="message">
                                {{chat.message}}
                            </p>
                            <span class="date-and-time">
                                {{chat.time}}
                            </span>
                        </div>
                    </div>

                </div>
    
                <div class="message-input">

                    <div class="emoji">
                        <i class="far fa-smile"></i>
                    </div>
    
                    <div class="message-area">
                        <input placeholder='Scrivi un messaggio' type="text">
                    </div>
    
                    <div class="record-message">
                        <i class="fas fa-microphone"></i>
                    </div>

                </div>
    
            </div>
    
        </div>

    </main>

    
    <script src="js/script.js"></script>
</body>
</html>